sanic==25.3.0
sanic_cors==2.2.0
redis==6.2.0
SQLAlchemy==2.0.41
asyncmy==0.2.10
asyncpg==0.30.0
pillow==11.1.0
opencv-python==4.11.0.86
httpx==0.28.1
numpy==2.2.3
granian==2.3.4
orjson==3.10.15
gunicorn
uvicorn==0.34.0
